.mid {
  text-align: center;
}

.react-tabs__tab {
  border: 0 !important;
  width: 100%!important;
  text-align: center!important;
  height: 3rem !important;
  padding: 0 !important;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius:  5px!important;
  padding: 16px 0 !important;
}
.react-tabs__tab--selected {
    width: 100%!important;
    text-align: center!important;
  height: 3rem !important;
  background: #f72d57 !important;
  color: white !important;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius:  5px!important;
}
.sliders {
  padding: 20px 0px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  padding: 20px 0;
  position: relative;
  height: 200px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
.rating {
  background-image: url("/public//assets/rating.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 10px;
  padding: 5px;
}
ul.tabs{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center!important;
    list-style-type: none;
    gap: 1rem;
    padding-left: 0px;
   
}
.tab{
    padding-top: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 0.7rem;
}
.tab-icons{
    font-size: 30px;    
}
@media screen and (max-width: 768px) {
   
    ul.tabs{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
        padding-left: 0!important;
        gap: 1rem;
        border-radius:  5px!important;
        
       
    }
    .react-tabs__tab {
      
        padding: 2px 0 !important;
      }
    
}