.inactive-links {
  text-decoration: none;
}
.active {
  
  color: #F72D57;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #3F3F3F;
}
.inactive-links:hover{
    color: #F72D57;

}
.navbar {
  
  background: white;
}
.nav-items {
    padding: 0px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks{
    display: block;
    display: flex;
    gap: 2rem;
    
}
.nav-1{
display: flex;
}
.nav-2 {
  display: flex;
  gap: 2rem;
  font-size: 20px;
  align-items: center;
}

#drawer{
    display: none
}
@media screen and (max-width: 768px) {
    .navlinks{
        display: none;  
    } 
    .navbar{
        border-bottom: 1px solid rgba(0, 0, 0, 0.068);
    }
    .hidden{
        display: none;
    }
    #toggle{
        width: 60px;
        height: 60px;
         
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     #toggle::before{
         position: absolute;
         content: '';
         width: 28px;
         height: 2px;
         background: #3F3F3F;
         transform: translateY(-5px);
         transition: 0.4s;
     }
     
     #toggle::after{
         position: absolute;
         content: '';
         width: 28px;
         height: 2px;
         
         background: #3F3F3F;
         transform: translateY(5px);
         transition: 0.4s;
     }
     #toggle.active::before{
         transform: translateY(0px) rotate(45deg);
         background: white;
     }
     #toggle.active::after{
         width: 28px;
         transform: translateY(0px) rotate(-45deg);
         background: white;
         left:auto;
     }
     #toggle.active{
         background-color: #F72D57;
         color: white;
         right: 0;
        width: 100%;
         padding-bottom: 20px;
         position: absolute;
         z-index: 20;
     }
     #drawer{
        display: none;
        transition: all 1s; 
     
    }
    #drawer.active{
        display: block;
        width: 100%;
        padding-left: 0;
        margin: auto;
        height: 100vh;
        background-color: #F72D57;
        position: absolute;
        z-index: 15;
        color: white!important;
        transition: display 1s ease;  
    }
    .menu-logo{
        font-size: 36px;
        border-bottom: 2px solid white;
        padding-bottom: 20%;
        font-weight: 400;
    }
    .menu-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-button button{
        background: white;
        border-radius: 3px;
        color: #F72D57;
        margin-top: 20px;
        border: 0;
        padding: 6px 22px;
        font-family: poppins;

    }
    .drawer-navs a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5% 0;
        text-transform: uppercase;
        font-size: 18px;
        
    }
    .active-links{
        color: white;
        font-weight: 700;
    }
    .inactive-links{
        color: white;
        font-weight: 200;
    }
   
}
