footer {
  background: #f72d57;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: 3% 5%;
  color: white;
}
footer .flex{
 gap: 16px
}
.footer-icons {

  width: 24px;
  height: 24px;

  justify-content: center;
  align-items: center;
  display: inline;

  cursor: pointer;
  transition: 0.3s;
 
}
.footer-icons:hover {
  scale: 115%;
}
.block{
    display: block;
    padding-bottom: 4px;
}
.block{
    display: block;
    padding-bottom: 4px;
    transition: 0.3s;
   
}
.block:hover{
    text-decoration: underline;
  transform: scale(105%);
}