.banner {
  position: relative;
  overflow: hidden;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 5%;
  padding-bottom: 10rem;
  filter: drop-shadow(0 30px 10px rgba(134, 108, 108, 0.082));
  /* border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; */
}
.banner::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vh;
    height: 100vh;
    background-color: white;
    border-radius: 50%;
    transform-origin: bottom;
    z-index: -20;
    transform: translateX(-50%) scale(8);
}
.banner-header {
  color: #3f3f3f;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner-text {
  width: 80%;
}
.banner-right {
  margin: auto auto;
  position: relative;
}
.img101 {
  z-index: 10;
  width: 100%;
  transform: rotate(59.691deg);
}
.img102 {
  z-index: -10;
  width: 80%;
  transform: rotate(-120.309deg);
  position: absolute;
  left: 0;
  top:15%
}
@media screen and (max-width: 768px) {
    .banner{
        flex-direction: column;
        padding-bottom: 10px;
        gap: 0;
        margin-bottom: 50px;
    }
    .banner::before{
        
        transform: translateX(-50%) scale(2)
       
    }
    .banner-text {
        width: 100%;
        font-size: 14px;
      }
      .banner-header {
        font-size: 28px;
      }
}
